.commonHeader {
    display: flex;
    justify-content: center;
    height: 82px;
    line-height: 45px;
    background: #fff;
    // font-size: 20px;
    font-size: 0.17rem;
    color: #5C49B2;
    position: relative;


    .left {
        color: blue;
        // position: absolute;
        // left: 15px;
        // top: 0;
        // bottom: 0;
        width: auto;
        text-align: left;
        display: flex;
        align-items: center;
        height: 60px;
        margin-top: 11px;
        padding-left: 20px;
    }

    .right {
        // font-size: 17px;
        // color: #5C49B2;
        flex: 1;
        display: flex;
        align-items: center;

        span {
            font-size: 16px;
            color: #333;
            margin: 0 20px;
            cursor: pointer;
            display: inline-block;

            &.on {
                color: #233586;
            }
        }

    }

}